[package]
name = "runtime"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
market = { path = "../market" }
strategy = { path = "../strategy" }
broker = { path = "../broker" }
